[submodule "subs/url-httplink"]
	path = subs/url-httplink
	url = git://github.com/Valodim/zsh-_url-httplink.git
[submodule "subs/lunar-completion"]
	path = subs/lunar-completion
	url = git://github.com/Valodim/lunar-zsh-completion.git
[submodule "subs/zsh-syntax-highlighting"]
	path = subs/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "subs/LS_COLORS"]
	path = subs/LS_COLORS
	url = git://github.com/trapd00r/LS_COLORS.git
[submodule "subs/zsh-history-substring-search"]
	path = subs/zsh-history-substring-search
	url = git://github.com/Valodim/zsh-history-substring-search.git
[submodule "subs/zsh-complete-recent-args"]
	path = subs/zsh-complete-recent-args
	url = git://github.com/Valodim/zsh-complete-recent-args.git
[submodule "subs/zsh-completions"]
	path = subs/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "subs/autojump"]
	path = subs/autojump
	url = git://github.com/joelthelion/autojump.git
[submodule "subs/gistpaste"]
	path = subs/gistpaste
	url = https://github.com/dblevins/gistpaste.git
[submodule "subs/git-annex-zsh-completion"]
	path = subs/git-annex-zsh-completion
	url = git://github.com/esc/git-annex-zsh-completion.git
[submodule "subs/zsh-curl-completion"]
	path = subs/zsh-curl-completion
	url = https://github.com/Valodim/zsh-curl-completion.git
[submodule "subs/zsh-prompt-powerline"]
	path = subs/zsh-prompt-powerline
	url = https://github.com/Valodim/zsh-prompt-powerline.git
[submodule "subs/urxvt-mime-funnel"]
	path = subs/urxvt-mime-funnel
	url = https://github.com/Valodim/urxvt-mime-funnel
